@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Sedan','sans-serif';
}

.app {
  display: flex;
  position: relative;
}
.boxclass {
  display:grid;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb {
  background: #555;
}